{% extends "base.html" %}
{% load static %}
 {% load humanize %}
{% load thumbnail %}
{% block title %}
    Aluguel | {{ block.super }}
{% endblock %}

    {% block content %}
        <div id="imovel" class="container" >
            <div class="row" >
                <div id="venda" class="col-md-8 col-md-offset-2">
                {% if aluguel %}
                    <h1 id="chamada">IMÓVEIS PARA ALUGAR</h1>
                    {% for item in aluguel %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{{item.image_1|thumbnail_url:'image_lista'}}" alt="...">
                                <div class="caption">

                                    {% if item.lugar %}
                                        <h3>{{item.lugar|capfirst}}</h3>
                                    {% endif %}

                                    {% if item.preco %}
                                        <h4>R${{item.preco|intcomma}}</h4>
                                    {% endif %}

                                    {% if item.dormitorio %}
                                        {% if item.dormitorio == 1 %}
                                            <h4>{{item.dormitorio}} Dormitório</h4>
                                        {% endif %}
                                        {% if item.dormitorio > 1 %}
                                            <h4>{{item.dormitorio}} Dormitórios</h4>
                                        {% endif %}
                                    {% endif %}
            
                                    {% if item.description %}
                                        <p>{{item.description|capfirst|truncatechars:70}}</p>
                                    {% endif %}

                                    <p><a href="{{ item.get_absolute_url }}" class="btn btn-primary" role="button">LEIA MAIS </a> </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                <h1 class="aviso" >Ainda não possuimos imóveis a venda.</h1>
                {% endif %}
            </div>
        </div>
        <div id="paginacao" class="col-xs-12" >
                <nav>
                    <ul class="pagination" >
                        {% for page in paginator.page_range %}
                            <li> <a href="?page={{ page }}">{{ page }}</a> </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
    {% endblock %}

