{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}

        <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style="background: url('{% static 'intro-bg.jpg' %}') no-repeat center center;" >
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Landing Page</h1>
                        <h3>A Template by Start Bootstrap</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    
    <div class="container" >
        <div class="row" >
        <a name="venda"></a>
            <div id="venda" class="col-md-8 col-md-offset-2" >
            <h1 id="chamada">IMÓVEIS RECENTES À VENDA</h1>
               {% for item in tres %} 
               {{servico.image_servico|thumbnail_url:'image_servico'  }}

                <div class="col-sm-6 col-md-4">                    
                    <div class="thumbnail">                        
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <img src="{{item.image_1|thumbnail_url:'image_venda'}}" alt="Chania">
                            </div>

                            <div class="item">
                              <img src="{{item.image_2|thumbnail_url:'image_venda'}}" alt="Chania">
                            </div>

                          </div>
                        </div>

                        <div class="caption">
                            <h4>{{ item.lugar|capfirst }}</h4>
                            <p>{{item.description|truncatechars:50}}</p>
                            <p><a href="{% url 'imovel:venda' %}" class="btn btn-primary" role="button">LEIA MAIS </a> </p>
                        </div>                       
                    </div>
                </div>
                {% endfor %}
                </div>
                
        
        </div>
    </div>
    


<h1 id="chamada">IMÓVEIS RECENTES PARA ALUGUEL</h1>
    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer-b">
                    <div class="clearfix"></div>
                        {% if dois.lugar %}
                            <h3>{{dois.lugar|capfirst}}</h3>
                        {% endif %}

                        {% if dois.preco %}
                            <h3>R${{dois.preco}}</h3>
                        {% endif %}

                        {% if dois.dormitorio %}
                            {% if dois.dormitorio == 1 %}
                                <h4>{{dois.dormitorio}} Dormitório</h4>
                            {% endif %}
                            {% if dois.dormitorio > 1 %}
                                <h4>{{dois.dormitorio}} Dormitórios</h4>
                            {% endif %}
                        {% endif %}
            
                        {% if dois.description %}
                            <p>{{dois.description|capfirst|truncatechars:140}}</p>
                         {% endif %}

                        <p><a href="{% url 'imovel:aluguel' %}" class="btn btn-primary" role="button">LEIA MAIS </a> </p>
                    </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                    <img class="img-responsive" src="{{dois.image_2|thumbnail_url:'image_aluguel'}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <div class="content-section-c"  >

        <div class="container">
            <div class="row" >

                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    {% if dois_.lugar %}
                            <h3>{{dois_.lugar|capfirst}}</h3>
                        {% endif %}

                        {% if dois_.preco %}
                            <h3>R${{dois_.preco}}</h3>
                        {% endif %}

                        {% if dois_.dormitorio %}
                            {% if dois_.dormitorio == 1 %}
                                <h4>{{dois_.dormitorio}} Dormitório</h4>
                            {% endif %}
                            {% if dois_.dormitorio > 1 %}
                                <h4>{{dois_.dormitorio}} Dormitórios</h4>
                            {% endif %}
                        {% endif %}
            
                        {% if dois_.description %}
                            <p>{{dois_.description|capfirst|truncatechars:140}}</p>
                         {% endif %}
                        <p><a href="{% url 'imovel:aluguel' %}"  class="btn btn-primary" role="button">LEIA MAIS </a> </p>
                    </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{dois_.image_1|thumbnail_url:'image_aluguel'}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <h1 id="h1contato" >Contato</h1>
    <a name=contact></a>
    <div class="container" >
        <div class="row" >
            <div class="col-sm-6" >
                <h2>Endereço</h2>
                <h5>
                    Av. Bernardino de Campos,</br> 98 São Paulo, SP 1255-678
                </h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51302.93414147517!2d-39.22100393833336!3d-17.115967220142714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7344fcf910a856b%3A0x60d7e073754e63f3!2sCumuruxatiba%2C+Prado+-+BA!5e0!3m2!1spt-BR!2sbr!4v1476449346046" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6" >
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="id_name" class="col-md-3 control-label">Nome</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="id_name" placeholder="Nome" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_email" class="col-md-3 control-label">E-mail</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="id_email" placeholder="E-mail" />
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="id_message" class="col-md-3 control-label">Mensagem</label>
                            <div class="col-md-9">
                                <textarea class="form-control" rows="3" id="id_message"></textarea>
                                <span class="help-block">Este campo é obrigatório</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<br>
<br>
<br>
{% endblock %}
